
<!--Div containing a clear message to be displayed upon entering offline state-->
<div class="offline_div" id="offline_div" style="display: none; text-align: center; background-color: #4e555b;"><p style="color: white">You are offline</p></div>