<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/stylesheets/style.css' rel="stylesheet" type="text/css" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body>


<% include partials/navbar.ejs%>

<% include partials/offline_warning.ejs%>

    <h1> Sign Up Form </h1>
    <form method="POST" action="/register">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button> Submit </button>
    </form>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/login">Login</a></li>

</body>
</html>